:root {
  --mainBrown: #c9704d;
  --mainYellow: #442c08;
  --mainGrey: #ece8dc;
  --mainDark: #222;
}

body {
  background: var(--mainRed);
  color: var(--mainDark);
  font-family: Verdana, Tahoma, Geneva, Verdana, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.default-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
}

.btn-yellow {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}

.btn-yellow:hover {
  background: var(--mainYellow);
  color: var(--mainBrown) !important;
}

.footer {
  background: var(--mainBrown);
}

.about-background {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
}
